* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #393E46;
}
body {
    padding: 128px 220px;
    border: 1px solid black;
    display: flex;
}

.left-section {
    /* background-color: aqua; */
    width: 500px;
    display: flex;
    flex-direction: column;
}
.logo {
    width: 80px;
}
.hero-pic-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}
.hero-pic {
    
}

.right-section {
    margin-left: 116px;
    flex: 1;
    /* background-color: coral; */
}
.title {
    font-size: 64px;
    margin-bottom: 16px;
}
.sub-title {
    font-size: 24px;
    font-style: italic;
    margin-bottom: 74px;
}
.sub-title-highlight {
    color: #00ADB5;
}
.form {

}
.label {
    font-size: 28px;
    margin-bottom: 24px;
}
.username-label {

}
.password-label {

}
.textarea {
    width: calc(100% - 52px);
    font-size: 28px;
    margin-bottom: 24px;
    padding: 24px;
    border: 2px solid #393E46;
    border-radius: 24px;
}
.textarea:hover {
    border: 2px solid #00ADB5;
}
.textarea:focus {
    outline: none;
    border: 2px solid #00ADB5;
}
.username-input {

}
.password-input {
    margin-bottom: 100px;
}
.login-button {
    width: 100%;
    padding: 36px 0;
    border-radius: 24px;
    border: none;
    background-color: #00ADB5;
    color: white;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 16px;
}
.login-button:hover {
    background-color: #222831;
    cursor: pointer;
}
.sign-up-button {
    color: #222831;
    font-style: italic;
    float: right;
    margin-right: 16px;
}
.sign-up-button:hover {
    color: #00ADB5;
}